<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysmallapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".QiDongActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainPageActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".BookOrderActivity" />
        <activity android:name=".YueChe_Activity" />
        <activity android:name=".SureOrderActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".PayCompleteActivity" />
        <activity android:name=".SelectPeopleActivity" />
        <activity android:name=".AddPeopleActivity" />
        <activity android:name=".ShowBigFragmentActivity"
            android:theme="@style/DefaultCityPickerTheme"></activity>
    </application>

</manifest>